@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Utility Solution</h1>
    <p class="lead">Complete solution to your basic appliance related problems</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Gass Appliacnces</h2>
        <p>
            Repaire your Gass Appliances Problem
        </p>
        <p>@ViewBag.GassCount Technicians Available</p>
    </div>
    <div class="col-md-4">
        <h2>Electical Appliacnces</h2>
        <p>
            Repaire your Electrical Appliances Problem
        </p>
        <p>@ViewBag.ElectricCount Technician Available</p>
    </div>
    <div class="col-md-4">
        <h2>Water Appliacnces</h2>
        <p>
            Repaire your Water Appliances Problem
        </p>
        <p>@ViewBag.WaterCount Technician Available</p>
    </div>
</div>